{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="{% static 'js/chart.min.js' %}"></script>
</head>
<body>
    <div>
    <h1>Custom Chart</h1>
    <canvas id="myChart"></canvas>
    </div>
<script>

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx,{{ chart|as_chart_js:'mychartist' }});

</script>

</body>
</html>